@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*, button, input {
    border:0;
    background:none;
    font-family: 'Montserrat', sans-serif;
}
ul{ 
    list-style:none;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --green:#badc58;
    --darkgreen:#6BBC61;
    --blue:#2f285b;
    --lightgray:#a9a7b9;
    --darkgrey:#aaa7ba;
}

.form-page{
    height: 100vh;
}

 form {
    width: 1000px;
    margin: 80px auto;
    border: #2f285b solid 2px;
    align-items: center;
    justify-content: center;
  }
  .input{
    border: #2f285b solid 2px;
  }
  .form-control-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .form-control-group label {
    margin-bottom: 5px;
    text-decoration: underline  #2f285b;
    align-items: center;
  }

.form-button{
    border-radius: 7px;
  width: 100%;  
  background: var(--green);
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;

}
.form-button:hover{
        transition: all 0.5s ease-in-out;
        background:var(--darkgreen);
}
@media screen and (max-width: 900px) {
    form{
        width: 100%;   
        margin: 80px auto;
    }

  }