.second-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (max-width: 768px) {
    .second-container{
        margin-bottom:  500px;
    }
  }